---
layout: default
title: Home
<!--cover: /assets/images/153xx.jpg-->
cover: http://s1.xmcdn.com/css/img/welcome/home_bg_6.jpg?v=1399193088
about: 'about.html'
logo: /assets/images/ting.jpg
---

<!-- {% if page.cover %}
 style="background-image: url({{ page.cover }})"
 {% endif %}  -->

<link rel="stylesheet" type="text/css" href="/assets/css/ihover.min.css" />

<header class="site-head" style="background-image: url({{ page.cover }})" >
    <div class="vertical">
        <div class="site-head-content" class="inner">
            {% if page.logo %}
                <!-- <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a> -->
                <div class="ih-item circle colored effect15 right_to_left" style="margin: 0 auto;">
                    <a href="http://www.ximalaya.com">
                        <div class="img"><img src="{{ page.logo }}" alt="img"></div>
                    </a>
                </div>
            {% endif %}
            <h1 class="blog-title">{{ site.name }}</h1>
            <h2 class="blog-description"> 
                {{ site.description }}. 
                <!-- {% if page.about %} <a href='{{ site.baseurl }}{{ page.about }}'> About me </a> {% endif %} -->
            </h2>
        </div>
    </div>
</header>

<main class="content" role="main">

    {% for post in paginator.posts %}
        {% if post.published != false %}
        <article class="post">
            <header class="post-header">
                <span class="post-meta"><time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date_to_string }}</time> {{!tags prefix="on "}}</span>
                <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>

            </header>
            <section class="post-excerpt">
                {{ post.excerpt }}
            </section>
        </article>
        {% endif %}
    {% endfor %}

    <nav class="pagination" role="pagination">

        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a class="newer-posts" href="/" title="Previous Page">&laquo; Newer Posts</a>
          {% else %}
          <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Newer Posts</a>
          {% endif %}
        {% endif %}

        <span class="page-number"> Page {{paginator.page}} of {{paginator.total_pages}} </span>
        
        {% if paginator.next_page %} 
        <a class="older-posts" href="/page{{ paginator.next_page }}/" title="Next Page">Older Posts &raquo;</a>
        {% endif %} 
    </nav>
    

</main>
